.userProfile{
    width: 150px;
    height: 150px;
}

.addPhoto {
    background-color: #01173b;
    color: #FFFFFF;
    border: 1px solid #656687;
    margin-left: auto;
}

.addPhoto:hover{
        background-color: #01173b;
        border: 1px solid transparent;
        color: darkgray;
}

.addPhoto:focus{
    background-color: #656687;
    border: 1px solid transparent;
    color: darkgray;
    box-shadow: transparent;
}

.addPhoto:active{
    background-color: #656687;
    border: 1px solid white;
    color: darkgray;
    box-shadow: transparent;
}
.addForm{
    border: solid #01173b 1px;
    border-radius: 5px;
}
