body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* background: black; */
  background-image: url("/assets/images/desertNight.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;

}
