.mapContainer{ 
    background-color:#01173b;
};

.marker {
    margin-top: 10px;
    margin-right: 5px;
}

.marker:hover {
    background-color: rgba(0,0,0,0.7);
    border-radius: 19px;
}

.marker:active{
    background-color: rgba(255,255,255,0.7);
    border-radius: 19px;
}

.addBtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #A43640;
    color: white;
    border: 1px solid #656687;
}

.addBtn:hover{
    border: 1px solid transparent;
    color: darkgray;
}